.auth__header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  padding: 10px;
  background-color: #00bfa5;
  color: white;
}
.auth_headerText {
  font-weight: 700;
  font-size: 20px;
}
.auth__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.auth__countrySelect {
  width: 60% !important;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.auth__phonenumber {
  width: 60% !important;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
  display: flex;
}
.auth_phoneInput {
  margin-left: 10px;
  flex: 1;
  outline: none;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #00bfa5;
}
.auth_button {
  width: 100%;
  text-align: center;
}
.auth_btn {
  color: white;
  margin-top: 80%;
  width: 100px;
  background-color: #00e676;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  border: none;
  bottom: 0px;
  position: sticky;
}
