.app-dark {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
}
.app-light {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  color: black;
  background-color: white;
}
