.header {
  border-bottom: 0.5px solid lightgrey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  user-zoom: none;
  user-select: none;
  background: white;
  z-index: 10;
}
.header > .MuiSvgIcon-root {
  color: lightseagreen;
  margin: 15px;
}
.header > h1 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: lightseagreen;
}
.header > h1::first-letter {
  color: green;
}
.header__theme {
  display: flex;
  align-items: center;
}
.header__theme > .MuiSvgIcon-root {
  font-size: 20px;
  margin: 0px 10px;
}
.header__theme > .MuiSvgIcon-root:first-child {
  color: orange;
}
.header__theme > .MuiSvgIcon-root:last-child {
  color: lightseagreen;
}
.header__darktheme {
  background: var(--dark-theme) !important;
}
