.home {
  flex: 0.4;
  padding: 10px;
  max-height: 100vh;
  overflow-y: scroll;
}
/* width */
.home::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.home::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.home::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.home::-webkit-scrollbar-thumb:hover {
  background: #555;
}
