
.detector{
  
}
.detector__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: 10px auto;
    height: 100%;
}
.detector__canvas, .detector__video{
   width: 100%;
   max-width: 800px;
   height: 450px;
   object-fit: contain;
   max-height: 80vh;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}