.sidebar {
  flex: 0.2;
}
.sidebar__header {
  position: sticky;
  background-color: white;
  border-radius: 0.5px solid lightgray;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}
.sidebar__header > h1 {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: 1;
}
.sidebar__items {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 25vh;
}

.sidebar__items--waiting {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-color: white;
  height: 25vh;
  display: grid;
  place-items: center;
}
.sidebar__items--waiting > small {
  color: lightseagreen;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
.sidebar__items--waitingIcon {
  color: orange;
  font-size: 90px !important;
  animation: rotate infinite 2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar__items::-webkit-scrollbar {
  width: 10px;
}

.sidebar__items::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar__items::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 999px;
}

.sidebar__items::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.sidebar__items--waiting::-webkit-scrollbar {
  width: 10px;
}

.sidebar__items--waiting::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar__items--waiting::-webkit-scrollbar-thumb {
  background: var(--header-color);
  border-radius: 999px;
}

.sidebar__items--waiting::-webkit-scrollbar-thumb:hover {
  background: orange;
}
