* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --body-color: #f6f8fa;
  background: var(--body-color);
}
.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.app::-webkit-scrollbar {
  display: none;
}
.app__main {
  flex: 1;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: lightseagreen;
  border-radius: 999px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: orange;
}
