.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(209, 202, 202);
  align-items: center;
  z-index: 1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
}
.header__logo {
  margin-right: 20px;
  margin-left: 20px;
}
.header__messages {
  margin-right: 30px;
}
.header__right {
  display: flex;
}
