.chatheader {
  border-bottom: 1px solid lightgray;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px 10px;
}
.chatheader__left > h2 {
  font-weight: 500;
  font-size: 20px;
}
.chatheader__left > p {
  font-size: 12px;
}
.chatheader__right > .MuiSvgIcon-root {
  color: black !important;
}
.chatheader__iconbtn:hover,
.chatheader__iconbtnSmall:hover {
  background-color: var(--main-color) !important;
}
.chatheader__iconbtnSmall {
  width: 10px !important;
  height: 10px !important;
  margin-left: 10px !important;
}
