.chat {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  transition: transform 100ms ease;
}

.chat:hover {
  cursor: pointer;
  background: white;
  border-radius: 5px;
  transform: scale(1.01);
}
.chat > h4 {
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
}
