.todolist {
  width: 100%;
  background-color: white;
  padding-bottom: 90px;
}
.todolist > h1 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid lightseagreen;
  padding: 10px;
}
.todolist__list {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  height: 100%;
  height: 40vh;
}
.todolist__list > div {
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}
.todolist__list > div:nth-child(odd) {
  background-color: var(--body-color);
}
.todolist__list > div:hover {
  background-color: var(--header-color) !important;
  color: white !important;
}
.todolist__list::-webkit-scrollbar {
  width: 10px;
}

.todolist__list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.todolist__list::-webkit-scrollbar-thumb {
  background: var(--header-color);
  border-radius: 999px;
}

.todolist__list::-webkit-scrollbar-thumb:hover {
  background: orange;
}
