.basket {
  width: 100vw;
  height: fit-content !important;
  background: white;
}
.basket > h1 {
  font-size: 20px;
  font-weight: 500 !important;
  padding: 10px !important;
  text-align: center;
  text-shadow: 1px 1px black;
}
.basket > h1 > span {
  color: lightseagreen !important;
}
.basket > h1 > span:last-child {
  color: orange !important;
  text-decoration: underline;
}
@media only screen and (max-width: 425px) {
  .basket > h1 {
    font-size: 13px !important;
  }
}
