.barner_img {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home_row {
  display: flex;
}

@media only screen and (max-width: 378px) {
  .home_row {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 360px) {
  .home {
    width: 100%;
  }
}

@media only screen and (max-width: 378px) {
  .home_row {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 600px) {
  .home_row {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1366px) {
  .home_row {
    flex-wrap: flex;
  }
}
