.stories {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
  max-width: 40vw;
  height: 180px;
}
.stories__bottom {
  overflow-x: scroll;
  display: flex;
}
.stories__bottom::-webkit-scrollbar {
  display: none;
}

.stories__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
