*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
--body-color: #FAFAFA ;
--text-color: #0095F6;
background: var(--body-color)
}
.app{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.app__container{
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 1200px;
}
.app__header{
  width: 100%;padding: 10px;
  margin: 10px auto;
  display: flex;justify-content: space-between;
  align-items: center;
  background-color: #fff;
  user-select: none;
  border-bottom: .5px solid lightgray;

}
.app__header>h1{
  text-transform: uppercase !important;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;

}
.app__header>.MuiSvgIcon-root{
  color: orange;
}
.app__header>small{
  color: gray;
}