.admin {
  width: 100vw;
  height: fit-content;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.admin__main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  margin: 10px auto;
  border: 1px solid lightgray;
  flex-wrap: wrap;
}
