.score {
  background: white;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}
.score > h1 {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
  color: lightseagreen;
  text-align: center;
}
.score__row {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-color) !important;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
.score__row:last-child {
  justify-content: space-around;
}
.score__row > small {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: lightseagreen;
}
.score__row > small:last-child {
  color: green;
}
.score__button {
  padding: 5px;
  color: white;
  background-color: var(--header-color);
  width: 80px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.score__button:hover {
  background: yellowgreen;
}
.main__button:active {
  background: lightseagreen;
}
