.room {
  display: flex;
  align-items: center;
  padding: 5px;
}
.room:hover {
  cursor: pointer;
  background: #f2f2f2;
  border-radius: 10px;
}
.room__info {
  margin-left: 10px;
}

.room__message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
