.messages {
  flex: 0.6;
  height: 86vh;
  overflow-y: scroll;
  padding: 10px;
}

.messages__input {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 60%;
  margin: auto;
  max-width: 600px;
  padding: 10px;
  background: white;
  z-index: 100;
}
.messages__inputleft {
  display: flex;
  align-items: center;
}
.messages__inputleft > .MuiSvgIcon-root {
  margin-right: 10px !important;
  color: #0099ff !important;
  cursor: pointer;
  font-size: 30px;
}
.messages__inputright {
  margin-left: 10px !important;
  color: #0099ff !important;
  cursor: pointer;
  font-size: 30px;
}
.messages__inputcenter > .MuiSvgIcon-root {
  color: #0099ff !important;
  cursor: pointer;
  font-size: 30px;
}
.messages__inputcenter {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 5px 10px;
  border-radius: 999px;
}
.messages__inputcenter > input {
  padding: 2px 5px;
  flex: 1;
  background: inherit;
  border: none;
  outline: none;
}
